.contacts {
  padding-top: 116px;
  padding-bottom: 124px;

  @media (max-width: $vp-1023) {
    padding-top: 101px;
    padding-bottom: 99px;
  }

  @media (max-width: $vp-767) {
    padding-top: 44px;
    padding-bottom: 65px;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $vp-1023) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

.contacts__map {
  margin-right: 20px;
  width: 560px;
  height: 306px;

  &--hidden {
    display: none;
  }


  @media (max-width: $vp-1023) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    height: 316px;
  }
}

.contacts__map img {
  width: 560px;
  height: 306px;
  object-fit: cover;
}

.contacts__map-js {
  width: 560px;
  height: 306px;

  &--hidden {
    display: none;
  }

  @media (max-width: $vp-1023) {
    width: 100%;
    height: 335px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    height: 316px;
  }
}

.contacts__text {
  max-width: 500px;
  align-self: center;

  @media (max-width: $vp-1023) {
    // min-width: 324px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 14px;
    padding-top: 0;
    order: -1;
    width: 100%;
  }
}

.contacts__text p {
  margin: 0;
  margin-bottom: 33px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  @media (max-width: $vp-1023) {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 27px;
  }
}

.contacts__text address {
  position: relative;
  margin-bottom: 21px;
  padding-left: 28px;
  font-style: normal;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 18px;
    height: 22px;
    background-image: url("../img/map-marker.svg");
  }

  @media (max-width: $vp-767) {
    margin-bottom: 21px;
  }
}

.contacts__text a {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 21px;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -1px;
    width: 18px;
    height: 22px;
    background-image: url("../img/phone.svg");
  }
}
