.contacts {
  padding: 116px 0;
}

.contacts__wrapper-map-no-js {
  display: none;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 560px 500px;
  column-gap: 100px;

  @media (max-width: $vp767) {
    display: flex;
    flex-direction: column;
  }
}

.contacts__wrapper-text {
  padding-top: 78px;
}

.contacts__wrapper-text p {
  margin: 0;
  margin-bottom: 33px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.contacts__wrapper-text address {
  position: relative;
  margin-bottom: 21px;
  padding-left: 28px;
  font-style: normal;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    width: 18px;
    height: 22px;
    background-image: url("../img/svg/sprite/map-marker.svg");
  }
}

.contacts__wrapper-text a {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding-left: 28px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 2px;
    width: 18px;
    height: 22px;
    background-image: url("../img/svg/phone.svg");
  }
}
