.features {
  min-width: 562px;
  background-color: $color-alice-blue;
  background-image: url("../img/content/features-bg-desktop.png");
  background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
  border: 1px solid $color-torch-red;
}

.features__wrapper {
  padding-top: 120px;
  padding-bottom: 120px;

  @media (max-width: $vp-1024) {
    padding: 100px 0;
  }

  @media (max-width: $vp-768) {
    padding: 65px 0;
  }
}

.features__wrapper h2 {
  margin: 0;
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;

  @media (max-width: $vp-1024) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $vp-768) {
    font-size: 24px;
    line-height: 36px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;

  @media (max-width: $vp-1024) {
    column-gap: 30px;
  }

  @media (max-width: $vp-768) {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px 50px;
  background-color: $color-alice-blue;

  &--ship {
    &::before {
      content: "";
      margin-bottom: 25px;
      width: 27px;
      height: 32px;
      background-image: url("../img/svg/ship.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--check {
    &::before {
      content: "";
      margin-bottom: 25px;
      width: 38px;
      height: 21px;
      background-image: url("../img/svg/check.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--boat {
    &::before {
      content: "";
      margin-bottom: 25px;
      width: 42px;
      height: 15px;
      background-image: url("../img/svg/boat.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.features__item h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}

.features__item p {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
}
