.features {
  background-color: $color-hawkes-blue;
  background-image: url("../img/content/features-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/features-bg-desktop@2x.png");
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/content/features-bg-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/features-bg-tablet@2x.png");
    }
  }

  @media (max-width: $vp-320) {
    background-image: url("../img/content/features-bg-mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/features-bg-mobile@2x.png");
    }
  }
}

.features__wrapper {
  padding-top: 111px;
  padding-bottom: 111px;
  min-height: 562px;

  @media (max-width: $vp-1023) {
    padding-top: 90px;
    padding-bottom: 100px;
    min-height: 588px;
  }

  @media (max-width: $vp-767) {
    padding-top: 56px;
    padding-bottom: 66px;
  }
}

.features__wrapper h2 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;

  @media (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 36px;
  }
}

.features__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(206px, 360px));
  justify-content: center;
  gap: 40px;

  @media (max-width: $vp-1023) {
    grid-template-columns: repeat(auto-fit, 206px);
    gap: 30px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: repeat(auto-fit, 290px);
    column-gap: 20px;
    row-gap: 30px;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px;
  max-width: 360px;
  background-color: $color-alice-blue;

  @media (max-width: $vp-1023) {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 16px;
    width: 206px;
    min-height: 310px;
  }

  @media (max-width: $vp-767) {
    padding: 25px 20px 20px 20px;
    width: 100%;
    min-height: 0;
  }
}

.features__wrapper-img {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  width: 42px;
  height: 32px;

  &--ship {
    width: 27px;
    height: 32px;

    @media (max-width: $vp-1023) {
      width: 21px;
      height: 26px;
    }
  }

  &--mark {
    margin-top: 4px;
    margin-bottom: 23px;
    width: 38px;
    height: 21px;

    @media (max-width: $vp-1023) {
      margin-bottom: 24px;
      width: 33px;
      height: 19px;
    }

    @media (max-width: $vp-767) {
      margin-top: 4px;
      margin-bottom: 21px;
    }
  }

  &--boat {
    margin-top: 6px;
    margin-bottom: 27px;
    width: 42px;
    height: 15px;

    @media (max-width: $vp-1023) {
      margin-top: 5px;
      margin-bottom: 24px;
      width: 38px;
      height: 13px;
    }

    @media (max-width: $vp-767) {
      margin-top: 5px;
      margin-bottom: 23px;
    }
  }
}

.features__item h3 {
  margin: 0;
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  @media (max-width: $vp-767) {
    width: 170px;
    line-height: 26px;
  }
}

.features__item p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
