.hero-header-wrapper {
  display: flex;
  flex-direction: column;

  min-height: 650px;
  background-color: $color-tangaroa;
  // background-image: url("../img/content/intro-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $vp-1024) {
  // background-image: url("../img/content/intro-tablet.jpg");
  }

  @media (max-width: $vp-768) {
    // background-image: url("../../img/content/intro-mobile.jpg");
    background-position: center;
  }
}
