.hero {
  margin-top: auto;
  padding-left: 95px;
  padding-bottom: 280px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: $vp-1023) {
    padding-left: 0;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 177px;
  }
}

.hero h2 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  color: inherit;

  @media (max-width: $vp-1023) {
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 45px;
  }
}

.hero p {
  margin: 0;
  font-size: 20px;
  color: inherit;

  @media (max-width: $vp-1023) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 22px;
  }
}
