.main-nav__logo {
  margin-right: 50px;
  align-self: flex-start;
  width: 70px;
  height: 38px;

  @media (max-width: $vp-1024) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $vp-768) {
    width: 42px;
    height: 22px;
  }
}

.main-nav__btn-menu {
  display: none;
}

.main-nav__site-nav {
  @media (max-width: $vp-768) {
    display: none;
  }
}
