.navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation__item {
  margin-right: 33px;

  @media (max-width: $vp-1024) {
    margin-right: 23px;
  }
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item a {
  padding: 15px 0;
  font-weight: 500;
  color: $color-alice-blue;

  @media (max-width: $vp-1024) {
    font-size: 14px;
    line-height: 17px;
  }
}
