.page-header {
  padding: 35px 0;
  margin-bottom: 157px;

  @media (max-width: $vp-1023) {
    margin-bottom: 184px;
    padding: 27px 0;
  }

  @media (max-width: $vp-767) {
    padding: 20px 0;
    margin-bottom: 107px;
  }
}

.page-header__logo {
  margin-right: 40px;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.page-header__site-nav {
  @media (max-width: $vp-767) {
    display: block;
  }
}

.page-header__site-nav-js {
  @media (max-width: $vp-767) {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/content/intro-tablet.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    padding-left: 35px;
    display: none;
    z-index: 1;

    &--active {
      display: block;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 43, 102, 0.5);
      z-index: -1;
    }
  }

  @media (max-width: $vp-320) {
    background-image: url("../img/content/intro-mobile.jpg");
  }
}

.page-header__btn-menu {
  display: none;

  @media (max-width: $vp-767) {
    position: absolute;
    top: 25px;
    right: 0;
    display: block;
  }
}
