.page-footer {
  padding: 50px 0;
  background-color: $color-tangaroa;
}

.page-footer__wrapper {
  display: flex;
  align-items: center;

  @media (max-width: $vp-768) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-footer__nav {
  margin-right: auto;

  @media (max-width: $vp-768) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-footer__social {
  display: flex;
  margin-left: 40px;

  @media (max-width: $vp-768) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-footer__logo {
  margin-right: 40px;
}
