.page-footer {
  padding: 50px 0;
  background-color: $color-tangaroa;
}

.page-footer__wrapper {
  display: flex;
  align-items: flex-start;

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-footer__nav {
  margin-right: auto;

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__logo {
  margin-right: 40px;
  width: 70px;
  height: 38px;

  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 30px;
    width: 42px;
    height: 22px;
  }
}

.page-footer__social {
  margin-left: 40px;
}
