.promo {
  padding: 118px 0;

  @media (max-width: $vp-1023) {
    padding-top: 89px;
    padding-bottom: 94px;
  }

  @media (max-width: $vp-767) {
    padding-top: 58px;
    padding-bottom: 65px;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: center;
  }
}

.promo__text-wrapper {
  margin-right: 20px;
  align-self: center;
  max-width: 512px;

  @media (max-width: $vp-1023) {
    width: 324px;
    padding-top: 0;
    flex-grow: 1;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    margin-right: 0;
  }
}

.promo__text-wrapper h2 {
  margin: 0;
  margin-bottom: 23px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;

  @media (max-width: $vp-1023) {
    margin-bottom: 18px;
    width: 210px;
    font-size: 26px;
    line-height: 36px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 33px;
    width: 190px;
  }
}

.promo__text-wrapper p {
  margin: 0;

  @media (max-width: $vp-1023) {
    font-size: 16px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 22px;
    font-size: 16px;
  }
}

.promo__img-wrapper {
  width: 560px;
  height: 301px;
  flex-shrink: 0;
  background-color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    margin-top: 11px;
    width: 324px;
    height: 264px;
  }

  @media (max-width: $vp-767) {
    width: 290px;
    height: 186px;
  }
}

.promo__img-wrapper img {
  object-fit: cover;
  height: 100%;

  @media (max-width: $vp-767) {
    width: 290px;
    height: 186px;
  }
}
