.promo {
  padding: 118px 0;

  @media (max-width: $vp-1023) {
    padding: 100px 0;
  }

  @media (max-width: $vp-767) {
    padding: 63px 0;
  }
}

.promo__wrapper {
  display: flex;

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.promo__text-wrapper {
  padding-top: 57px;
  padding-right: 50px;
  width: 50%;

  @media (max-width: $vp-1023) {
    width: 324px;
    padding-top: 0;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    padding-right: 0;
  }
}

.promo__text-wrapper h2 {
  margin: 0;
  margin-bottom: 23px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;

  @media (max-width: $vp-1023) {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 36px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 33px;
    width: 190px;
  }
}

.promo__text-wrapper p {
  margin: 0;

  @media (max-width: $vp-1023) {
    font-size: 15px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 33px;
    font-size: 16px;
  }
}

.promo__img-wrapper {
  width: 50%;
  margin-left: 20px;
  object-fit: cover;

  @media (max-width: $vp-767) {
    margin-left: 0;
    width: 100%;
  }
}

.promo__img-wrapper img {
  object-fit: cover;

  @media (max-width: $vp-767) {
    margin-left: 0;
    width: 100%;
    min-height: 186px;
  }
}
