.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: -28px;
  width: 144px;

  @media (max-width: $vp-1023) {
    margin-right: -19px;
    width: 105px;
  }

  @media (max-width: $vp-767) {
    margin-top: 15px;
    justify-content: flex-start;
  }
}

.social__item {
  margin-bottom: 10px;
  margin-right: 28px;
  height: 20px;
  width: 20px;

  @media (max-width: $vp-1023) {
    margin-right: 19px;
    width: 16px;
    height: 16px;
  }

  @media (max-width: $vp-767) {
    margin-right: 18px;
  }
}

.social__item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item svg {
  fill: #f9fbfd;
  height: 20px;

  @media (max-width: $vp-1023) {
    height: 16px;
  }
}

.social__item:hover a svg {
  fill: $color-torch-red;
}
