.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  min-width: 106px;

  @media (max-width: $vp-1024) {
    min-width: 87px;
  }

  @media (max-width: $vp-767) {
    margin-top: 15px;
  }
}

.social__item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__item svg {
  fill: #f9fbfd;
  height: 20px;

  @media (max-width: $vp-1023) {
    height: 15px;
  }

  @media (max-width: $vp-767) {
    height: 15px;
  }
}

.social__item:hover a svg {
  fill: $color-torch-red;
}
