.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  min-width: 106px;

  @media (max-width: $vp-1024) {
    min-width: 87px;
  }
}

.social__item {
  @media (max-width: $vp-768) {
    width: 16px;
    height: 16px;
  }
}

.social__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
}
